<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    [
    {
        &quot;id&quot;: 8218,
        &quot;orderId&quot;: &quot;1fb14fb8-c045-4f44-b118-617827ef8a00&quot;,
        &quot;notificationType&quot;: &quot;NEW&quot;,
        &quot;comment&quot;: null,
        &quot;leasingCompany&quot;: {
            &quot;name&quot;: &quot;ALD Automotive&quot;,
            &quot;number&quot;: &quot;799189&quot;,
            &quot;dossierNumber&quot;: &quot;XWFPCNH6365927054&quot;,
            &quot;vatNumber&quot;: &quot;BE0842936235&quot;
        },
        &quot;supplier&quot;: {
            &quot;name&quot;: &quot;TEST account RENTA 9&quot;,
            &quot;number&quot;: &quot;730086&quot;,
            &quot;dossierNumber&quot;: null,
            &quot;vatNumber&quot;: &quot;BE67876646&quot;
        },
        &quot;orderStatus&quot;: &quot;NEW&quot;,
        &quot;orderDate&quot;: &quot;2022-03-12T14:45:50&quot;,
        &quot;client&quot;: {
            &quot;name&quot;: &quot;PWC/Deloitte TEST&quot;,
            &quot;vatNumber&quot;: &quot;BE 0414.325.701&quot;
        },
        &quot;driver&quot;: null,
        &quot;pricing&quot;: {
            &quot;options&quot;: [
                
            ],
            &quot;promotions&quot;: [
                
            ],
            &quot;totalPrice&quot;: 26795.46,
            &quot;listPrice&quot;: 28801.66
        },
        &quot;delivery&quot;: null,
        &quot;vehicle&quot;: {
            &quot;brand&quot;: &quot;BMW&quot;,
            &quot;model&quot;: {
                &quot;dutch&quot;: &quot;X1 15&quot;,
                &quot;french&quot;: null,
                &quot;english&quot;: null,
                &quot;translations&quot;: {
                    &quot;de&quot;: &quot;X1 15&quot;,
                    &quot;en&quot;: &quot;X1 15&quot;,
                    &quot;fr&quot;: &quot;X1 15&quot;,
                    &quot;nl&quot;: &quot;X1 15&quot;
                }
            }
        },
        &quot;buyback&quot;: null,
        &quot;leasingType&quot;: &quot;FINANCIAL_LEASE&quot;,
        &quot;registrationDivToDoBy&quot;: &quot;CLIENT&quot;
    }
]
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Transfer-Encoding: chunked</div>
        <div>Keep-Alive: timeout=20</div>
        <div>Access-Control-Expose-Headers: Content-Type, Content-Disposition, X-WSS-rs-user-number</div>
        <div>Access-Control-Allow-Credentials: true</div>
        <div>Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS</div>
        <div>Connection: keep-alive</div>
        <div>Access-Control-Max-Age: 360000</div>
        <div>Access-Control-Allow-Headers: Content-Type, Content-Disposition, X-WSS-rs-user-number</div>
        <div>Date: Sat, 12 Mar 2022 13:45:58 GMT</div>
        <div>Content-Type: application/json</div>
</div>


